html{

    /* This image will be displayed fullscreen */
    background:url('../img/acceuil.jpg') no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;

}

body{

    /* Workaround for some mobile browsers */
    min-height:100%;
    padding-bottom: 0px;
    font-family: pacificacondensedregular,fantasy;

}

.title {
	height: 175px;
    color: #ababab;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.title0 {
	
	text-align: center;
}

.title1 {

	font-size: 77px;
	line-height: 0;
}

.title2 {

	width: 284px;
	margin: auto;

}

.title3 {

	font-size: 30px;

}

.title4 img {

	margin: 10px;
	margin-top: 15px;
	margin-left: 5px;
	

}

@media (max-width: 767px) {

.title1 {
	font-size: 55px;
	line-height: 0;
}

.title2 {
	width: 200px;
	margin: auto;

}

.title3 {
	font-size: 20px;
}

.title4 img {

	margin: 5px;
	margin-top: 15px;
	margin-left: 5px;
	

}

}
