html{

    /* This image will be displayed fullscreen */
    background:url('../img/acceuil2.jpg') no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
    
}

body{

    /* Workaround for some mobile browsers */
    min-height:100%;
    padding-bottom: 0px;
    font-family: pacificacondensedregular,fantasy;

}

@media (max-width: 767px) {
.navbar-nav {
	padding-top: 35px;
}
}

.apropos {

	margin-top: 50px;
	background: none;
	position: fixed;
	
	font-family: monospace;
	text-align: justify;
	color: #ababab;

}

.content {
	padding-top: 50px;
	position: fixed;
	overflow-y: scroll;
	height: 90%;
}

.quote {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.text {
	
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	
}

@media (max-width: 767px) {

.quote {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;

}

.text {
	
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	
}

}

@media (min-width: 768px) and (max-width: 991px) {

.quote {
	width: 75%;
}

.text {
	width: 75%;	
}
	
}
