html{

    /* This image will be displayed fullscreen */
    background:url('../img/acceuil.jpg') no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
    
}

body{

    /* Workaround for some mobile browsers */
    min-height:100%;
    padding-bottom: 0px;
    font-family: pacificacondensedregular,fantasy;

}

@media (max-width: 767px) {
.navbar-nav {
	padding-top: 35px;
}
}

.illustration {

	margin-top: 50px;
	background: none;
	position: fixed;
	
	font-family: monospace;
	text-align: center;
	color: #ababab;

}

.galleria{ 

	width: 700px;
	height: 400px;
	background: #000;
	
	margin-left: auto;
	margin-right: auto;

}
