body {

    background-color: black;
    padding-bottom: 60px;

}

.menu {

    text-align: center;
    margin-top: 12px;
    font-size: 20px;
    color: black;

}

.menuSep {

    margin-left: 20px;
    margin-right: 20px;
}

.navbar {

    height: 60px;
    background-color: grey;

    background:url('../img/menu.jpg') no-repeat center center;
    background-size: 100%;
    background-size:cover;

}

.navbar-inverse .navbar-link{
    color: #fff;
}

.navbar-inverse .navbar-link:hover {
    color: #fff;
}

img.adjusted {
    z-index: -1;
    width: 60%;
    margin: auto;
}

img.imageContact{
    height: 500px;
    margin-top: 75px;
}

img.imageEvent{
    height: 550px;
    margin-top: 50px;
}

@media (max-width: 992px) {

    .colImageContact {
        text-align: center;
    }

}

.textContact {

    color: white; 
    padding-top:50px;
}

.colImagePeau {

    height: 550px;
    width: 250px;
    margin-top: 50px;

    padding: 10px;
    text-align: justify;
    color: white;
    font-size: 17px;

    background:url('../img/menu.jpg') no-repeat center center;
    background-size: 100%;
    background-size:cover;

}

.gallery {

    overflow: auto;
    padding-top: 50px;
    height: 650px;
    width: 550px;

}

.gallery img {

    margin-right: 7px;
    margin-bottom: 11px;
}
